.AboutUs {
  background: url('/images/elements/S.png') no-repeat center center fixed;
  background-color: #000;
  max-width: 100vw;
  width: 100vw;
  padding: 0% 0% 0% 0%;
  position: relative;
}

.Aboutsection1 {
  background-color: none;
  /* top: 100%; */
  width: 100vw;
  height: 100vh;
  /* min-height: 200vh; */
  position: relative;
}

.Aboutsection1 h1 {
  padding-top: 20vh;
  font-family: 'Swiss721Bold';
  font-size: 15rem;
  font-weight: bold;
  text-align: center; 
  line-height: 1.1;
  word-break: break-word; 
  color: var(--primary);
}

@media (max-width: 1024px) {
  .Aboutsection1 h1 {
    padding-top: 35vh;
    font-size: 9rem;
  }
}  

@media (max-width: 500px) {
  .Aboutsection1 h1 {
    padding-top: 35vh;
    font-size: 6rem;
  }
}  

.Aboutsection3 {
  background-color: #fff;
  /* top: 100%; */
  width: 100vw;
  height: 100vh;
  /* min-height: 200vh; */
  position: relative;
}

