/* .nutrition-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
    background-color: black;
    width: 100%;
  }
  
  @media (min-width: 1024px) {
    .nutrition-form {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
  
  .form-field {
    flex: 1;
    opacity: 0;
    transform: translateY(30px);
    width: 100%;
    min-height: 320px;
    background-color: var(--dark-bg); 
  }
  
  @media (min-width: 1024px) {
    .form-field {
      width: 20%;
    }
  }
  
  .form-field input,
  .form-field textarea,
  .form-field select {
    width: 90%;
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: var(--dark-bg);
    color: #646464;
    border: none;
    outline: none;
  }
  
  .form-field textarea {
    height: 8rem;
    resize: none;
    border: 2px solid rgb(100, 100, 100);
  }

  .form-field select {
    height: 3.4rem;
    resize: none;
    border: 2px solid rgb(100, 100, 100);
    margin-bottom: 1rem;
  }
  
  .form-field input {
    border: 2px solid rgb(100, 100, 100);
    margin-bottom: 1rem;
  }
  
  .form-field textarea:focus {
    height: 8rem;
    resize: none;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .form-field input:focus {
    border: 2px solid rgb(255, 255, 255);
  }

  .form-field select:focus {
    color: white;
    border: 2px solid rgb(255, 255, 255);
  }

  .form-field {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
   }
  
  .submit-button button { 
    font-size: larger;
    width: 60%;
    padding: 0.65rem 1.4rem;
    font-weight: bold;
    color: #000;
    background-color: var(--primary);
    border: 2px solid transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: 
      background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }
  
  .submit-button button:hover {
    background-color: #000;
    color: var(--primary);
    border-color: var(--primary);
    transform: translateY(-2px);
  }
  
  .submit-button button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 251, 0, 0.4); 
  }
  
  .form-heading {
    font-size: large;
    margin: 0.5rem;
  }

   */