

#circularText {
  will-change: transform;
}


.btn-secondary {
  border: 4px solid white; 
  transition: border-color 0.3s ease;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  background: var(--dark-bg);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-secondary:hover {
	color: #000000;
	background-color: white;
	transition-duration: 10ms;
  border-radius: 20px;
  border-color: #000000;
	box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
  border-style: solid;
}

.login-cont {
  box-shadow: 0 5px 10px white;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 500px) {
  .login-cont {
    display: flex;
    flex-direction: row;
  } 
  
}
