/* .Nutrition {
    background: url('/images/elements/F.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #000;
    max-width: 100vw;
    width: 100vw;
    padding: 0% 0% 0% 0%;
    position: relative;
    overflow-x: hidden !important;
  }
  
  .Nutritionsection1 {
    background-color: none;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .Nutritionsection1 text {
    font-family: 'Swiss721Bold';
    font-weight: bold;
    line-height: 1.1;
    word-break: break-word; 
  }
  
  .Aboutsection3 {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
   */