/* preloader.css */
.preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .preloader p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
  }
  