/* .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--primary);
    outline: 3px var(--primary) solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
.dl-navbar {
  background: var(--dl-gold-gradient);
}

.login-button > a {
    margin-left: 0rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.login-button:hover {
    background-color: transparent;
}
  
.login-button:hover > a {
    color: var(--primary);
}
  
.right-section {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
  } */