.form-button {
    font-family: inherit;
    font-size: 20px;
    background: #000;
    color: var(--primary);
    fill: #000;
    padding: 0.6em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
  }
  
  .form-button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .form-button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background: #000;
    border: 2px solid var(--primary);
  }
  
  .form-button:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
  }
  
  .form-button:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
  }
  
  .form-button:hover span {
    opacity: 0;
    transition: 0.5s linear;
  }
  
  .form-button:active {
    transform: scale(0.95);
  }
  