/* @media (max-width: 1024px) {
    .blog-container {
      flex-direction: row;
      justify-content: center;
    }
  
    .blog-post {
      flex: 1 1 45%;
    }
  }
  
  @media (max-width: 768px) {
    .blog-container {
      flex-direction: column;
      align-items: center;
    }
  
    .blog-post {
      width: 90%;
      max-width: 500px;
    }
  }
  
  .blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 1400px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    scale: 1.15;
  }
  
  .blog-post {
    background-color: black;
    border: 1px solid var(--primary);
    border-radius: 12px;
    padding: 1.5rem;
    flex: 1 1 30%;
    max-width: 400px;
    min-width: 280px;
    box-sizing: border-box;
  }
   
  .blog-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease;
  }
  
  .blog-post:hover .blog-image {
    transform: translateY(-5px) scale(1.05);
    filter: drop-shadow(0px 0px 10px rgb(22, 21, 9));
  }
  
  .blog-title {
    font-size: larger;
    color: var(--primary);
    text-shadow:
      -1px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
  }
  
  .read-more {
    color: var(--primary);
    text-shadow:
      -2px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
  } 
  
  .read-more:hover {
    color: var(--primary);
    scale: 1.05;
  }

  .blog-excerpt {
    text-shadow:
      -2px -1px 0 black,
       1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
  } */