.ContactUs {
    background: url('/images/elements/J.webp') no-repeat center center fixed;
    background-size: contain;
    background-color: #000;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    padding: 0% 0% 0% 0%;
    position: relative;
    overflow-x: hidden !important;
  }
  
  .Contactssection1 {
    background-color: none;
    width: 100vw;
    height: 50vh;
    position: relative;
  }
  
  .Contactsection1 text {
    font-family: 'Swiss721Bold';
    font-weight: bold;
  }
  
  
  